// ---------------------------------------------------------------------------------------------------------------------
// @mixin font-size
//
// prevod font-size z PX na REM
//
// @author:		jbe
// @date:		11.01.2015
// @version:	1.0
// ---------------------------------------------------------------------------------------------------------------------

@mixin font-size($font-size, $important: false, $modifier: false) {
  @if $modifier == false {
	@if ($font-size == 17px OR $font-size == 15px) {
	  $font-size: $font-size + 0.2px;
	}
  }

  @if $important {
	@if $wtf-ie8-support == true OR $modifier == 'precise' {
	  font-size: ($font-size) !important;
	}
    @else {
      font-size: (($font-size / 16px) * 1rem) !important;
    }
  }
  @else {
	@if $wtf-ie8-support == true OR $modifier == 'precise' {
	  font-size: ($font-size);
	}
	@else {
      font-size: (($font-size / 16px) * 1rem);
    }
  }
}