// ---------------------------------------------------------------------------------------------------------------------
// @mixin font-face
//
//
// @author:		jbe
// @date:		11.01.2015
// @version:	1.0
// ---------------------------------------------------------------------------------------------------------------------

@mixin no-narrow {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  p:last-child,
  ul,
  ol,
  blockquote {
	margin-left: 0;
	margin-right: 0;
  }

  blockquote {
    p,
    p:last-of-type {
      margin-right: 0;
      margin-left: 0;
    }
  }
}
