// Globální nastavení font weight pro Fallback fonty

.fonts-loaded .wnd-fonts-fallback .wnd-page {
  font-weight: 400 !important;

  h1,
  h2,
  h3,
  h4 {
	font-weight: 400 !important;
  }

  b,
  strong {
	font-weight: 700 !important;
  }

  h1,
  h2,
  h3,
  h4 {
	b,
	strong {
	  font-weight: 700 !important;
	}
  }
}