// ---------------------------------------------------------------------------------------------------------------------
// @mixin align-items
//
// @author:		jbe
// @date:		03.05.2015
// @version:	1.0
// ---------------------------------------------------------------------------------------------------------------------

@mixin align-items($value) {
  -webkit-box-align: $value;
  -webkit-align-items: $value;
  -ms-flex-align: $value;
  align-items: $value;
}