// ---------------------------------------------------------------------------------------------------------------------
// @mixin display
//
// @author:		jbe
// @date:		18.04.2015
// @version:	1.0
// ---------------------------------------------------------------------------------------------------------------------

@mixin display($value) {
  @if $value == flex {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;    /* NEW, Spec - Opera 12.1, Firefox 20+ */
	display: flex;

  } @else {
	display: $value;
  }
}