// ---------------------------------------------------------------------------------------------------------------------
// @mixin flex
//
// @author:		jbe
// @date:		18.04.2015
// @version:	1.0
// ---------------------------------------------------------------------------------------------------------------------

@mixin flex($value) {
  @if nth($value, 1) == none {
	-webkit-box-flex: 0;
  } @else {
	-webkit-box-flex: nth($value, 1);
  }
  -moz-box-flex: $value;
  -webkit-flex: $value;
  -ms-flex: $value;
  flex: $value;
}