// ---------------------------------------------------------------------------------------------------------------------
// @mixin order
//
// @author:		jbe
// @date:		18.04.2015
// @version:	1.0
// ---------------------------------------------------------------------------------------------------------------------

@mixin order($value) {
  -webkit-box-ordinal-group: $value;
  -moz-box-ordinal-group: $value;
  -ms-flex-order: $value;
  -webkit-order: $value;
  order: $value;
}