// ---------------------------------------------------------------------------------------------------------------------
// @mixin box-shadow
//
// $color-set	- barva v HEX nebo identifikator v SASS mape
// $shadow		- nastaveni pozice a rozmazani stinu
// $map			- promenna obsahujici SASS mapu s barvami
// $set-alpha	- nastaveni alpha kanalu barvy
// $important	- pokud je true, vygeneruje se !important
//
// @author:		jbe
// @date:		04.05.2015
// @version:	1.0
// ---------------------------------------------------------------------------------------------------------------------

@mixin box-shadow($shadow, $color-set, $map: false, $set-alpha: false, $important: false, $shadow2: false, $color-set2: false) {
  $color: false;
  $color2: false;
  $alpha2: 1;
  $ready: false;
  $imp: '';

  @if $important {
	$imp: ' !important';
  }

  @if $color-set == none {
	box-shadow: none#{$imp};
  } @else {
	@if $map {
	  $color: get-map-value($map, $color-set);

	  @if $color-set2 {
		$color2: get-map-value($map, $color-set2);
	  }
	} @else {
	  $color: $color-set;

	  @if $color-set2 {
		$color2: $color-set2;
	  }
	}

	@if $color {
	  @if $set-alpha {
		$color: change_color($color, $alpha: $set-alpha);

		@if $color-set2 {
		  $color2: change_color($color2, $alpha: $set-alpha);
		}
	  }

	  $alpha: alpha($color);

	  @if $color-set2 {
		$alpha2: alpha($color2);
	  }



	  @if $wtf-ie8-support {

		@if $shadow2 {
		  @if ( $alpha < 1 or $alpha2 < 1 ) {
			$color-rgb: change_color($color, $alpha: 1);
			$color-rgb2: change_color($color2, $alpha2: 1);

			box-shadow: $shadow $color-rgb, $shadow2 $color-rgb2;
		  }

		} @else {
		  @if $alpha < 1 {
			$color-rgb: change_color($color, $alpha: 1);
			box-shadow: $shadow $color-rgb;
		  }
		}
	  }


	  @if $shadow2 {
		box-shadow: $shadow $color, $shadow2 $color2;
	  } @else {
		box-shadow: $shadow $color;
	  }
	}
  }
}