// ---------------------------------------------------------------------------------------------------------------------
// @mixin horizontal center
//
// $max-width - zadani max. sirky prvky [px, %]
//
// @author:		jbe
// @date:		11.01.2015
// @version:	1.0
// ---------------------------------------------------------------------------------------------------------------------

@mixin horizontal-center($max-width) {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
}